@{
    ViewData["Title"] = "Home Page";
}

<a href="/api/Test/TestClick"
    class="link-with-post"
    title="Содержимое ссылки"
    data-callback="functionForCallback"
    data-name="dataName"
>
    Содержимое ссылки
</a>

@section Scripts {
    <script src="/js/Components/linkWithPost.js" type="text/javascript"></script>
    <script>
        var dataName = {
            name: "тестовые данные для отправки"
        }

        function functionForCallback(result){
            alert(result)
        }
    </script>
}